div.domdiv {
    border-left: 1px solid red;
    background-color: #D3D3D3;
    color:#094f66;
}
div.domdiv.elid {
    font-size:10px;

}
/* div.domdiv:hover {
    filter: brightness(95%);
} */
span.sp {
    font-style: italic;
    font-size:15px;
    color: #808080;
}
span.sp:hover {
    filter: brightness(95%);
}
div.proppre {    
    color:white;
    margin-left: 40px;
    border: '1px solid blue';
    background-color: #094f66;
}
/* div.proppre::before {
    font: var(--fa-font-regular);
    content: '\f071';
} */
div.proppre:hover {    
    background-color: #ADD8FF;
    color:black;
    border: 1px solid blue;
}
.jsontext {
    background-color: #90EE90;
    color:black;
    border: 2px solid green;
}
.jsontext:hover {
    padding: 10px;
    background-color: white;
}