/* media example from https://www.stubbornella.org/2010/06/25/the-media-object-saves-hundreds-of-lines-of-code/ */
.media {margin:10px;}
.media, .bd {overflow:hidden; _overflow:visible; zoom:1;}
.media .img {float:left; margin-right: 10px;}/*img aligned left*/
.media .img img{display:block;}
.media .imgExt{float:right; margin-left: 10px;}/*img aligned right*/

/*rewritten in bem*/
.m-media-article{
    /* margin:10px; */
    padding:20px;
    overflow:hidden; 
    _overflow:visible;
    zoom:1;
}
.m-media-article__bd{
    overflow:hidden; 
    _overflow:visible;
    zoom:1;
    color: var(--blue);
    font-style: italic;
}
.m-media-article__img img{
    display:block;
}
.m-media-article__img{
    margin-right: 10px;
    float:left; 
}
.m-media-article__img--right{
    float:right;
}