#inp-hide,#inp-hide:focus {
    border:0;
    outline:none;
    caret-color:transparent;
    color: white;
    background-color:transparent;
    
}

#inp-hide::placeholder {
    color: white;
    opacity: 1; /* Firefox */
  }